# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Excel files
*.xls
*.xlsx

# Ignore PDF files
*.pdf
venv/

# Ignore uploads folder
api/uploads/

# Ignore other temporary files
*.tmp
*.log
*.bak
.DS_Store
Thumbs.db

